dist:     trusty    # используем Ubuntu 14.04 Trusty Tahr (а не 12.02 Precise Pangolin)
sudo:     required  # используем Virtual Machine (а не Docker container)

language: cpp       # на практике разницы между специфичным для C++ окружением
                    # и, скажем, python -- никакой. Но пусть будет cpp.

os:
    # будем прогонять CI и на Linux, и на Mac OS X...
    - linux
    #- osx

compiler:
    # ... и с помощью GCC, и Clang
    - gcc
    - clang

env:
    # список переменных окружения, влияющих на матрицу сборки:
    - TARGET_CPU=amd64 BUILD_CONFIGURATION=Debug
    #- TARGET_CPU=amd64 BUILD_CONFIGURATION=Release
    #- TARGET_CPU=x86 BUILD_CONFIGURATION=Debug
    #- TARGET_CPU=x86 BUILD_CONFIGURATION=Release

before_script:

  #
  # Build Folder
  #
  - cd build

  #
  # Update / Install CMake
  #
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      mkdir -p external/cmake
      pushd external/cmake
      wget https://cmake.org/files/v3.17/cmake-3.17.4-Linux-x86_64.sh
      chmod +x cmake-*-Linux-x86_64.sh
      ./cmake-*-Linux-x86_64.sh --exclude-subdir --skip-license
      export PATH="${PWD}/bin:$PATH"
      popd

    else
      if ! brew ls --version cmake &>/dev/null; then brew update; brew install cmake; fi
    fi

#apt-get install libgtest-dev
#      cd /usr/src/gtest
#      sudo cmake CMakeLists.txt
#      sudo make
#      sudo cp lib/*.a /usr/lib
#      sudo ln -s /usr/lib/libgtest.a /usr/local/lib/gtest/libgtest.a
#      sudo ln -s /usr/lib/libgtest_main.a /usr/local/lib/gtest/libgtest_main.a

#matrix:
    #exclude:
        # вручную исключим ненужные элементы из матрицы сборки:
        #- os:       osx
        #  compiler: gcc

        #- os:  osx
        #  env: TARGET_CPU=x86 BUILD_CONFIGURATION=Debug

        #- os:  osx
        #  env: TARGET_CPU=x86 BUILD_CONFIGURATION=Release

#install:
    # скрипт настройки среды и установки зависимостей:
    #- source ci/travis/install-$TRAVIS_OS_NAME.sh

script:
    # скрипт сборки и тестирования проекта:
    #- cd build
    - cmake ..
    - make
    #- cmake --build .
    #- ctest --output-on-failure

#deploy:
    # выкладываем tagged-коммиты на GitHub Releases:
#    provider:     releases
#    file:         <package-file>
#    skip_cleanup: true
#    overwrite:    true
#
#    api_key:
#        secure:   <encrypted-github-token>
#
#    on:
#        tags:     true